---
layout: default
title: Jun Hou
---

<style>
  /* Custom styles to make the intro font larger */
  .author-description p {
    font-size: 1.1rem; /* 10% larger than the base font size */
    line-height: 1.7;  /* Increases space between lines for better readability */
  }
</style>

<div class="outer">
  <div class="inner">
    <div class="author-description">
        <p>
        I am <strong>Jun Hou</strong>, a PhD student at the <strong>Department of Computer Science, Virginia Tech</strong>, advised by <strong>![Dr. Xuan Wang](https://xuanwang91.github.io/)</strong>. My research focuses on developing robust, trustworthy, and explainable multimodal AI models, particularly aimed at improving accessibility and interpretability in healthcare. My research journey spans <strong>Multimodal Learning, Causal Inference, Explainable AI, and Clinical NLP</strong>. Through both academic and industry collaborations, I have worked on innovative projects solving real-world problems, including clinical decision support, sentiment analysis, and debiased visual question answering.
        </p>

        <p>
        <strong>Past:</strong> Previously, I conducted research on <strong>Explainable AI (XAI)</strong> in clinical settings under <strong>![Dr. Lucy Lu Wang](https://llwang.net/)</strong>, developing techniques to validate and enhance clinicians' trust in NLP-driven clinical models. I hold Master's degrees in <strong>Data Analytics Engineering</strong> from <strong>Northeastern University</strong> and <strong>Actuarial Science</strong> from <strong>Columbia University</strong>, as well as a Bachelor's in <strong>Mathematics</strong> from <strong>Rutgers University</strong>.
        </p>

        <p>
        <strong>Future:</strong> I aim to continue advancing AI research in multimodal fusion, interpretability, and causal debiasing methods. My goal is to design generalizable AI systems that are transparent, fair, and reliable, particularly for high-impact areas such as healthcare. Moving forward, I am eager to collaborate across academia and industry to create transformative technologies that improve human-AI interaction and foster trustworthiness in AI systems.
        </p>

        <p>
        I am always open to collaboration and discussions. Please feel free to reach out to explore ideas together or simply chat about research and life!
        </p>
    </div>
  </div>
</div>
{% comment %}
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>

{% include pagination.html %}
{% endcomment %}
{% if site.mailchmimp_url %}
    {% include newsletter-box.html %}
{% endif %}